html body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
body{
    display: flex;
}
.secao{
    min-width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: #4B0082;
    flex-direction: column;
    text-align: center;
}
.span-voltar{
    text-align: start;
    padding: 5px 15px;
}
.voltar{
    color: #2a2a2a;
    text-decoration: none;
    transition: 0.3s ease;
}
.voltar:hover{
    text-shadow: 0 4px 8px #9a9a9a;
    font-size: 110%;
}
.titles{
    margin: 0;
}
.sombra-div{
    margin: auto;
    background-color: #2a2a2a;
    width: 60vw;
    height: 45vh;
    position: relative;
    border-radius: 5px;
}
.quadros{
    background-color: #6a0dad;
    width: 60vw;
    height: 45vh;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
}
#hr-pag3{
    border: none;
    height: 10vh;
}